<h2 class="text-center my-4">Mantelerias</h2>
<div class="container">
    <a href="/dashboard" class="btn btn-secondary mb-4">Dashboard</a>
  <button class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addManteleriaModal">Añadir Nueva Manteleria</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each mantelerias}}
        <tr>
          <td>{{this.tipoManteleria}}</td>
          <td>{{this.precioManteleria}}</td>
          <td>{{this.stockManteleria}}</td>
          <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editManteleriaModal{{this._id}}">Editar</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteManteleriaModal{{this._id}}">Eliminar</button>
          </td>
        </tr>

        <!-- Modal Editar Lona -->
        <div class="modal fade" id="editManteleriaModal{{this._id}}" tabindex="-1" aria-labelledby="editManteleriaModalLabel{{this._id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editManteleriaModalLabel{{this._id}}">Editar Manteleria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/mantelerias/edit/{{this._id}}" method="POST">
                  <div class="mb-3">
                    <label for="tipoManteleria" class="form-label">Tipo</label>
                    <input type="text" class="form-control" name="tipoManteleria" value="{{this.tipoManteleria}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="precioManteleria" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="precioManteleria" value="{{this.precioManteleria}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="stockManteleria" class="form-label">Stock</label>
                    <input type="number" class="form-control" name="stockManteleria" value="{{this.stockManteleria}}" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Eliminar Lona -->
        <div class="modal fade" id="deleteManteleriaModal{{this._id}}" tabindex="-1" aria-labelledby="deleteManteleriaModalLabel{{this._id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteManteleriaModalLabel{{this._id}}">Eliminar Manteleria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta manteleria?</p>
                <form action="/mantelerias/delete/{{this._id}}" method="GET">
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal Añadir Lona -->
<div class="modal fade" id="addManteleriaModal" tabindex="-1" aria-labelledby="addManteleriaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addManteleriaModalLabel">Añadir Nueva Manteleria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/mantelerias/add" method="POST">
          <div class="mb-3">
            <label for="tipoManteleria" class="form-label">Tipo</label>
            <input type="text" class="form-control" name="tipoManteleria" placeholder="Tipo" required>
          </div>
          <div class="mb-3">
            <label for="precioManteleria" class="form-label">Precio</label>
            <input type="number" class="form-control" name="precioManteleria" placeholder="Precio" required>
          </div>
          <div class="mb-3">
            <label for="stockManteleria" class="form-label">Stock</label>
            <input type="number" class="form-control" name="stockManteleria" placeholder="Stock" required>
          </div>
          <button type="submit" class="btn btn-primary">Añadir</button>
        </form>
      </div>
    </div>
  </div>
</div>
