<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img class="rounded" src="/img/logo.png" alt="" style="width: 100px;">
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/inflables" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/inflables.png" alt="" style="width: 100px;">
              Inflables
            </a>
          </li>
          <li>
            <a href="/lonas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/lona.png" alt="" style="width: 100px;">
              Lonas
            </a>
          </li>
          <li>
            <a href="/sillas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/silla.png" alt="" style="width: 100px;">
              Silla
            </a>
          </li>
          <li>
            <a href="/mesas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/mesa.png" alt="" style="width: 100px;">
              Mesa
            </a>
          </li>
          <li>
            <a href="/mantelerias" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/manteleria.png" alt="" style="width: 100px;">
              Manteleria
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <a href="/logout" class="btn btn-danger">
        {{!-- <img class="rounded" src="/img/cerrar.png" alt="" style="width: 100px;"> --}}
        Cerrar sesión
        </a>
        <a href="/dashboard" class="btn btn-info text-light">Inicio</a>
        <a href="/" class="btn btn-success text-light">
          Nueva venta
        </a>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <button class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addMesaModal">
        <img class="rounded" src="/img/anadir.png" alt="" style="width: 50px;">
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each mesas}}
        <tr>
          <td>{{this.tipoMesa}}</td>
          <td>{{this.precioMesa}}</td>
          <td>{{this.stockMesa}}</td>
          <td>
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editMesaModal{{this._id}}">Editar</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMesaModal{{this._id}}">Eliminar</button>
          </td>
        </tr>

        <!-- Modal Editar Lona -->
        <div class="modal fade" id="editMesaModal{{this._id}}" tabindex="-1" aria-labelledby="editMesaModalLabel{{this._id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editMesaModalLabel{{this._id}}">Editar Mesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="/mesas/edit/{{this._id}}" method="POST">
                  <div class="mb-3">
                    <label for="tipoMesa" class="form-label">Tipo</label>
                    <input type="text" class="form-control" name="tipoMesa" value="{{this.tipoMesa}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="precioMesa" class="form-label">Precio</label>
                    <input type="number" class="form-control" name="precioMesa" value="{{this.precioMesa}}" required>
                  </div>
                  <div class="mb-3">
                    <label for="stockMesa" class="form-label">Stock</label>
                    <input type="number" class="form-control" name="stockMesa" value="{{this.stockMesa}}" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Eliminar Lona -->
        <div class="modal fade" id="deleteMesaModal{{this._id}}" tabindex="-1" aria-labelledby="deleteMesaModalLabel{{this._id}}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteMesaModalLabel{{this._id}}">Eliminar Mesa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta mesa?</p>
                <form action="/mesas/delete/{{this._id}}" method="GET">
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Modal Añadir Lona -->
<div class="modal fade" id="addMesaModal" tabindex="-1" aria-labelledby="addMesaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMesaModalLabel">Añadir Nueva Mesa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/mesas/add" method="POST">
          <div class="mb-3">
            <label for="tipoMesa" class="form-label">Tipo</label>
            <input type="text" class="form-control" name="tipoMesa" placeholder="Tipo" required>
          </div>
          <div class="mb-3">
            <label for="precioMesa" class="form-label">Precio</label>
            <input type="number" class="form-control" name="precioMesa" placeholder="Precio" required>
          </div>
          <div class="mb-3">
            <label for="stockMesa" class="form-label">Stock</label>
            <input type="number" class="form-control" name="stockMesa" placeholder="Stock" required>
          </div>
          <button type="submit" class="btn btn-primary">Añadir</button>
        </form>
      </div>
    </div>
  </div>
</div>
