<div class="container text-center">

<header>
  <div class="px-3 py-2 text-bg-dark border-bottom">
<h2>Realizar Venta</h2>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img class="rounded" src="/img/logo.png" alt="" style="width: 100px;">
            <p class="m-5 fs-3 text-info">¡Bienvenido {{user.name}}!</p>
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/inflables" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/inflables.png" alt="" style="width: 100px;">
              Inflables
            </a>
          </li>
          <li>
            <a href="/lonas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/lona.png" alt="" style="width: 100px;">
              Lonas
            </a>
          </li>
          <li>
            <a href="/sillas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/silla.png" alt="" style="width: 100px;">
              Silla
            </a>
          </li>
          <li>
            <a href="/mesas" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/mesa.png" alt="" style="width: 100px;">
              Mesa
            </a>
          </li>
          <li>
            <a href="/mantelerias" class="nav-link btn btn-info d-flex flex-column align-items-center text-white-50">
              <img class="rounded" src="/img/manteleria.png" alt="" style="width: 100px;">
              Manteleria
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-3 py-2 border-bottom mb-3">
    <div class="container d-flex flex-wrap justify-content-center">
      <div class="text-end">
        <a href="/dashboard" class="btn btn-info text-light">Inicio</a>
                            <a href="/ventas/" class="btn btn-primary">Lista</a>
                            <a href="/logout" class="btn btn-danger">
                            Cerrar sesión
                            </a>
        {{!-- <button type="button" class="btn btn-light text-dark me-2">Cerrar sesion</button> --}}
      </div>
    </div>
  </div>
</header>
<form action="/ventas" method="post" class="text-white">
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}

    <div class="mb-3">
        <label for="nombre">Nombre del Cliente:</label>
        <input type="text" name="nombre" id="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="telefono">Número Telefónico:</label>
        <input type="tel" name="telefono" id="telefono" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="domicilio">Domicilio de Entrega:</label>
        <input type="text" name="domicilio" id="domicilio" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="fecha_entrega">Fecha de entrega:</label>
        <input type="date" name="fecha_entrega" id="fecha_entrega" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="fecha_fin">Fecha de salida: </label>
        <input type="date" name="fecha_fin" id="fecha_fin" class="form-control" required>
    </div>

    <!-- Selección de productos -->
    <h3>Seleccione los productos:</h3>
    <div id="productos">
    <div class="row row-cols-md-2 g-4">
        {{!-- div inflables  --}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inflables</h5>
                    <img class="rounded" src="/img/inflables.png" alt="" style="width: 100px;">
                    {{#each inflables}}
                    <div class="form-check">
                        <input class="form-check-input producto" type="checkbox" data-tipo="Inflable" data-categoria="Inflable"
                            data-precio="{{this.precioInflables}}" value="{{this.tipoInflables}}" id="inflable-{{@index}}">
                        <label class="form-check-label" for="inflable-{{@index}}">
                            {{this.tipoInflables}} - ${{this.precioInflables}}
                        </label>
                        <input type="number" class="form-control cantidad" data-tipo="Inflable"
                            id="cantidad-inflable-{{@index}}" min="1" value="1" disabled>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- div lonas  --}}
        <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lonas</h5>
                        <img class="rounded" src="/img/lona.png" alt="" style="width: 100px;">
                        {{#each lonas}}
                            <div class="form-check">
                                <input class="form-check-input producto" type="checkbox" data-tipo="Lona" data-categoria="Lona" data-precio="{{this.precioLona}}" value="{{this.tipoLona}}" id="lona-{{@index}}">
                                <label class="form-check-label" for="lona-{{@index}}">
                                    {{this.tipoLona}} - ${{this.precioLona}}
                                </label>
                                <input type="number" class="form-control cantidad" data-tipo="Lona" id="cantidad-lona-{{@index}}" min="1" value="1" disabled>
                            </div>
                        {{/each}}
                    </div>
                </div>
        </div>
        {{!-- div manteleria  --}}
        <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Manteleria</h5>
                        <img class="rounded" src="/img/manteleria.png" alt="" style="width: 100px;">
                        {{#each mantelerias}}
                            <div class="form-check">
                                <input class="form-check-input producto" type="checkbox" data-tipo="Manteleria" data-categoria="Manteleria" data-precio="{{this.precioManteleria}}" value="{{this.tipoManteleria}}" id="manteleria-{{@index}}">
                                <label class="form-check-label" for="manteleria-{{@index}}">
                                    {{this.tipoManteleria}} - ${{this.precioManteleria}}
                                </label>
                                <input type="number" class="form-control cantidad" data-tipo="Manteleria" id="cantidad-manteleria-{{@index}}" min="1" value="1" disabled>
                            </div>
                        {{/each}}
                    </div>
                </div>
        </div>
        {{!-- div sillas  --}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sillas</h5>
                    <img class="rounded" src="/img/silla.png" alt="" style="width: 100px;">
                    {{#each sillas}}
                    <div class="form-check">
                        <input class="form-check-input producto" type="checkbox" data-tipo="Silla" data-categoria="Silla" data-precio="{{this.precioSilla}}" value="{{this.tipoSilla}}" id="silla-{{@index}}">
                        <label class="form-check-label" for="silla-{{@index}}">
                            {{this.tipoSilla}} - ${{this.precioSilla}}
                        </label>
                        <input type="number" class="form-control cantidad" data-tipo="Silla" id="cantidad-silla-{{@index}}" min="1" value="1" disabled>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{!-- div mesas --}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mesas</h5>
                    <img class="rounded" src="/img/mesa.png" alt="" style="width: 100px;">
                    {{#each mesas}}
                    <div class="form-check">
                        <input class="form-check-input producto" type="checkbox" data-tipo="Mesa" data-categoria="Mesa"
                            data-precio="{{this.precioMesa}}" value="{{this.tipoMesa}}" id="mesa-{{@index}}">
                        <label class="form-check-label" for="mesa-{{@index}}">
                            {{this.tipoMesa}} - ${{this.precioMesa}}
                        </label>
                        <input type="number" class="form-control cantidad" data-tipo="Mesa" id="cantidad-mesa-{{@index}}"
                            min="1" value="1" disabled>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

        {{!-- <h4>Inflables</h4>
        {{#each inflables}}
            <div class="form-check">
                <input class="form-check-input producto" type="checkbox" data-tipo="Inflable" data-precio="{{this.precioInflables}}" value="{{this.tipoInflables}}" id="inflable-{{@index}}">
                <label class="form-check-label" for="inflable-{{@index}}">
                    {{this.tipoInflables}} - ${{this.precioInflables}}
                </label>
                <input type="number" class="form-control cantidad" data-tipo="Inflable" id="cantidad-inflable-{{@index}}" min="1" value="1" disabled>
            </div>
        {{/each}}

        <h4>Lonas</h4>
        {{#each lonas}}
            <div class="form-check">
                <input class="form-check-input producto" type="checkbox" data-tipo="Lona" data-precio="{{this.precioLona}}" value="{{this.tipoLona}}" id="lona-{{@index}}">
                <label class="form-check-label" for="lona-{{@index}}">
                    {{this.tipoLona}} - ${{this.precioLona}}
                </label>
                <input type="number" class="form-control cantidad" data-tipo="Lona" id="cantidad-lona-{{@index}}" min="1" value="1" disabled>
            </div>
        {{/each}}

        <h4>Manteleria</h4>
        {{#each mantelerias}}
            <div class="form-check">
                <input class="form-check-input producto" type="checkbox" data-tipo="Manteleria" data-precio="{{this.precioManteleria}}" value="{{this.tipoManteleria}}" id="manteleria-{{@index}}">
                <label class="form-check-label" for="manteleria-{{@index}}">
                    {{this.tipoManteleria}} - ${{this.precioManteleria}}
                </label>
                <input type="number" class="form-control cantidad" data-tipo="Manteleria" id="cantidad-manteleria-{{@index}}" min="1" value="1" disabled>
            </div>
        {{/each}}

        <h4>Silla</h4>
        {{#each sillas}}
            <div class="form-check">
                <input class="form-check-input producto" type="checkbox" data-tipo="Silla" data-precio="{{this.precioSilla}}" value="{{this.tipoSilla}}" id="silla-{{@index}}">
                <label class="form-check-label" for="silla-{{@index}}">
                    {{this.tipoSilla}} - ${{this.precioSilla}}
                </label>
                <input type="number" class="form-control cantidad" data-tipo="Silla" id="cantidad-silla-{{@index}}" min="1" value="1" disabled>
            </div>
        {{/each}}

        <h4>Mesa</h4>
        {{#each mesas}}
            <div class="form-check">
                <input class="form-check-input producto" type="checkbox" data-tipo="Mesa" data-precio="{{this.precioMesa}}" value="{{this.tipoMesa}}" id="mesa-{{@index}}">
                <label class="form-check-label" for="mesa-{{@index}}">
                    {{this.tipoMesa}} - ${{this.precioMesa}}
                </label>
                <input type="number" class="form-control cantidad" data-tipo="Mesa" id="cantidad-mesa-{{@index}}" min="1" value="1" disabled>
            </div>
        {{/each}} --}}


    </div>

    <h4>Total: $<span id="total">0</span></h4>

    <input type="hidden" name="productos" id="productosInput">

    <button type="submit" class="btn btn-primary">Realizar Venta</button>
</form>

</div>
<script src="/js/totalCalculator.js"></script>
